@font-face {
    font-family: 'Dela Gothic One';
    src: url('/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

em,
i {
    color: #b3480ab0;
}

.post-content blockquote {
    --primary: #b3480a3b;
}

.site-title,
.post-title,
.entry-header,
.page-header,
.logo {
    font-family: 'Dela Gothic One', sans-serif !important;
}

/* .post-entry {
    background: #271a15;
}

.dark-list {
    background: #271a15;
} */

.dark {
    --theme: #18100c;
    --code-bg: #35241c;
    --border: #271a15;
    --tertiary: #271a15;
    --entry: #271a15;
}

body {
    --theme: #f5eee6;
    --border: #e4ded8;
    --primary: #352208;
}